.app {
  background-color: black;
  width: 100vw;
  height: 100vh;
}


.nasaPicOfTheDayImg {
  width: auto;
  height: 400px;

}


.roverImg {
  width: 100%;
}

.imgList {
  display: flex;
  gap: 16px;
}


.dailyImg {
  width: 100%;
}